<!doctype html>
<html class="overflow-hidden" lang="en">
<head>
    <meta charset="utf-8">
    <title>Workplaces in Cyprus: cafes and coworkings in Nicosia, Limassol, Larnaca, Paphos</title>
    <meta content="map, workplace, work place, cafe, coffee shop, coworking, laptop, cyprus, Nicosia, Limassol, Larnaca, Paphos, busyness, cuisine, noise, size, sockets, view, digital nomad, freelancer" name="keywords">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/favicon.ico" rel="icon" sizes="any">
    <link href="/icon.svg" rel="icon" type="image/svg+xml"/>
    <link href="/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="<%- process.env.VITE_APP_URL %>/" rel="canonical">
    <link href="<%- process.env.VITE_API_URL %>" rel="preconnect">
    <meta content="#ffffff" name="theme-color">
</head>
<body>
<div id="app" class="app" style="height: inherit">
    <noindex><p style="text-align:center">Something went wrong! Check your network connection and allow loading of Google Maps in your browser (try to disable ad blockers)</p></noindex>
</div>
<script src="/src/main.js" type="module"></script>
</body>
</html>
