html {
  scrollbar-width: thin;
}

img {
  vertical-align: middle;
}

.img-fluid {
  display: flex;
  height: auto;
  max-width: 100%;
  margin-block: 1rem;
}

h1,
h2 {
  line-height: 1.1;
  letter-spacing: -0.02em !important;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

p + p {
  margin-top: 1rem;
}
